html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

h1,
h2 {
    margin-bottom:3rem;
    font-family:sans-serif;
    color:#666;
}

h2 {
    margin-top:2em;
}

.container{
    height: 100%;
    display: flex;
    flex-direction : column;
    justify-content: space-between;
}
.header {
    height: 10%;
    display:flex;
    /* background-color: red; */
    justify-content: center;
}
.homepage {
    display: flex;
    flex:1;
    /* background-color: antiquewhite; */
}
.empty {
    display: flex;
    /* background-color:tomato; */
    flex:1;
}
.weather {
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}
#weather {
    display: flex;
    /* background-color: chocolate; */
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.nav {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#background {
    background-size: cover;
    background-repeat: no-repeat;
}
#center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clock {
    display: flex;
    color:white;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}
.footer {
    height: 10%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.pet-name {
    color: gray;
    display: flex;
    font-weight: 100;
}

.clock {
    position:relative;
    font-family:monaco,consolas,"courier new",monospace;
    font-size:3.5rem;
    line-height:1.375;
}

.clock:before,
.clock:after {
    position:absolute;
    top:0;
    bottom:0;
    content:':';
    z-index:2;
    line-height:1.15;
    color:#333;
}

.clock:before {
    left:2.325em;
}

.clock:after {
    right:2.325em;
}

.clock span {
    position:relative;
    display:inline-block;
    padding:0 .25em;
    margin:0 .06125em;
    z-index:1;

    -webkit-transform:perspective(750);
    -moz-transform:perspective(750);
    -ms-transform:perspective(750);
    transform:perspective(750);

    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    transform-style:preserve-3d;
}

.clock span:first-child {
    margin-left:0;
}

.clock span:last-child {
    margin-right:0;
}

.clock span:nth-child(2),
.clock span:nth-child(4) {
    margin-right:.3em;
}

.clock span:nth-child(3),
.clock span:nth-child(5) {
    margin-left:.3em;
}

.clock span:before,
.clock span:after {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    color:#eee;
    text-shadow:0 1px 0 #fff;
    background:#333;
    border-radius:.125em;
    outline:1px solid transparent; /* fix jagged edges in ff */

    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden;

    -webkit-transition:-webkit-transform .75s, opacity .75s;
    -moz-transition:-moz-transform .75s, opacity .75s;
    -ms-transition:-ms-transform .75s, opacity .75s;
    transition:transform .75s, opacity .75s;
}

.clock span:before {
    opacity:1;
    z-index:1;
    content:attr(data-old);

    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;

    -webkit-transform:translate3d(0,0,0) rotateX(0);
    -moz-transform:translate3d(0,0,0) rotateX(0);
    -ms-transform:translate3d(0,0,0) rotateX(0);
    transform:translate3d(0,0,0) rotateX(0);
}

.clock span:after {
    opacity:0;
    z-index:2;
    content:attr(data-now);

    -webkit-transform-origin:0 100%;
    -moz-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    transform-origin:0 100%;

    -webkit-transform:translate3d(0,-102.5%,0) rotateX(90deg);
    -moz-transform:translate3d(0,-102.5%,0) rotateX(90deg);
    -ms-transform:translate3d(0,-102.5%,0) rotateX(90deg);
    transform:translate3d(0,-102.5%,0) rotateX(90deg);
}

.clock .flip:before {
    opacity:0;
    -webkit-transform:translate3d(0,102.5%,0) rotateX(-90deg);
    -moz-transform:translate3d(0,102.5%,0) rotateX(-90deg);
    -ms-transform:translate3d(0,102.5%,0) rotateX(-90deg);
    transform:translate3d(0,102.5%,0) rotateX(-90deg);
}

.clock .flip:after {
    opacity:1;
    -webkit-transform:translate3d(0,0,0) rotateX(0);
    -moz-transform:translate3d(0,0,0) rotateX(0);
    -ms-transform:translate3d(0,0,0) rotateX(0);
    transform:translate3d(0,0,0) rotateX(0);
}

#pet-name {
    color: white;
}


html {font-size:16px;}
body {
    padding:0;
    margin:0;
    font-family:TrebuchetMS,Arial,sans-serif;
}
#container {
    margin:0 auto;
    padding:0;
    width:100vw;
    height:100vh;
    text-align:center;
    overflow:auto;
}
.nightmode {
    background-color:#121212;
    background-image: linear-gradient(to bottom left, #121212 10%,#333955 100%);
    color:#fff;
    text-shadow:1px 1px 1px black;
}
.daymode {
    background-color: #87ceeb;
    background-image: linear-gradient(to bottom left, #87ceeb 0%,#fff 100%);
    color:#333;
    text-shadow:1px 1px 10px white;
}
.santamode {
    background-color: #0f3;
    background-image: linear-gradient(to bottom left, #0f3 0%,#fff 100%);
    color:#c00;
    text-shadow:1px 1px 10px white;
}
.clocktext {
    display:block;
    margin:0;
    padding:1px 0 0 0;
    width:100%;
    text-align:center;
    line-height:1.0;
    white-space:nowrap;
}
#date {
    font-size:1.3rem;
    padding-top:15px;
}
#time {
    font-size:5rem;
    margin:1px 0 0 0;
}
#time span {
    display:inline-block;
    padding:0;
    vertical-align: baseline;
    text-align:left;
    width: 2em;
    margin:0 0 0 0.5em;
    font-size:1.5rem;
    line-height:1.5;
    white-space:normal;
}
.infotext {
    margin:0;
    padding:0 5px 0 5px;
    font-size:1.0rem;
    line-height:1.4;
    width:auto;

}
#weather {
    display:block;
    width:auto;
    font-size:2.0rem;
    font-family:sans-serif;
}
#weatherdetails {margin:50px 0 20px 0;}
#icon {
    display:inline-block;
    opacity:0;
    vertical-align:top;
    height:50px;width:50px;
}
#gpsbutton {
    -webkit-appearance: none;
    -moz-appearance: none;
    display:block;
    margin:0 auto;
    padding:0 16px 0 16px;
    width:auto;
    height:40px;
    border:2px outset #fff;
    border-radius:12px;
    background:#dedeff;
    color:black;
    font-size:20px;
    cursor:pointer;
}
#gpsbutton:hover {
    background:#000033;
    border:2px inset #fff;
    color:#fff;
}
@media (min-width: 480px){
    #date {font-size:2rem;}
    #time {font-size:8rem;}
    #time span {
        font-size:2rem;
        line-height: 2;
    }
    .infotext {
        font-size:1.8rem;
    }
    #weather {display:inline-block;}
}
@media (min-width: 1000px){
    #icon {height:100px;width:100px;}
    #date {font-size:4rem;}
    #time {font-size:16rem;}
    #time span {
        font-size:4rem;
        line-height: 2;
    }
    .infotext {
        font-size:3.6rem;
    }
    #weather {display:inline-block;}
}
#ssmlink {margin-bottom:30px;}
#ssmlink a:link, #ssmlink a:visited {color:#090;font-size:80%;}
#ssmlink a:hover {color:#0f0;}